@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/*CSS Variables*/
:root {
  /* Color Palette */
  --teal-blue: #008080;    /* Primary brand color */
  --slate-grey: #708090;   /* Secondary color */
  --vibrant-orange: #FF6600; /* Accent color */
  --deep-black: #1A1A1A;   /* Dark shade */
  --ivory-white: #FFFFF0;  /* Light shade */
  --big-font-:2.25rem;
  --h1-font-size:1.5rem;
  --h2-font-size:1.25rem
  --z-tooltip:10;
  --z-index:100;

  /* Typography */
  --heading-font: 'Lato', sans-serif;      /* For headings */
  --body-font: 'League Spartan', sans-serif;  /* For body text */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
    background-color: var(--teal-blue);
    color: var(--ivory-white);
}

.Logo{
  width: 50px;
  height: auto;

}
/*Header &Nav*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--teal-blue);
  z-index: var(--z-index);
}
nav{
  position: relative;
  height: auto;
  justify-content: space-between;
  display: flex;
  align-items: ;
}

.nav-close{
  font-size: 1.5rem;
  color: #FFFFF0;
  cursor: pointer;
  transition: color .4s;
}
.nav-toggle{
  font-size: 1.5rem;
  color: #FFFFF0;
  cursor: pointer;
  transition: color .4s;

}
/*Navigation For Mobile Devices*/
@media screen and(max-width:1150px) {
  .nav-menu{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--teal-blue);
    width: 80%;
    height: 100%;
    padding: 7.5rem 3.5rem 0;
    transition: right .4s;
  }
}
.nav-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  color: #FFFFF0;
  text-decoration: none;
}
a{
  color: var(--ivory-white);
  transition: color .4s;
}
a :hover{
  color:var(--teal-blue);
}

/*REUSABLE CSS CLASSES*/
.container{
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.section{
  padding-block: 5rem 1rem;

}

.main{
  overflow: hidden;
}